<a href="https://colab.research.google.com/github/headphonegato/CSC221_jsanm001/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [8]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0])

trek

In [11]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[0].title())

Trek

In [12]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[1])
print(bicycles[3])

cannondale
specialized

In [13]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles[-1])

specialized

In [14]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = f"My first bicycle was a {bicycles[0].title()}."
print(message)

My first bicycle was a Trek.

In [3]:
names = ['Liam','Elijah','Bekir','Mahoney']
print(names [0]) # Test yourself 3.1 1/4

Liam

In [4]:
names = ['Liam','Elijah','Bekir','Mahoney']
print(names [1]) # Test yourself 3.1 2/4

Elijah

In [5]:
names = ['Liam','Elijah','Bekir','Mahoney']
print(names [2]) # Test yourself 3.1 3/4

Bekir

In [6]:
names = ['Liam','Elijah','Bekir','Mahoney']
print(names [3]) # Test yourself 3.1 4/4

Mahoney

In [15]:
names = ['Liam','Elijah','Bekir','Mahoney']
message = f"yo whats up {names[0].title()}."
print(message) #test yourself 3.2 1/4

yo whats up Liam.

In [16]:
names = ['Liam','Elijah','Bekir','Mahoney']
message = f"yo whats up {names[1].title()}."
print(message) #test yourself 3.2 2/4

yo whats up Elijah.

In [18]:
names = ['Liam','Elijah','Bekir','Mahoney']
message = f"yo whats up {names[2].title()}."
print(message) #test yourself 3.2 3/4

yo whats up Bekir.

In [20]:
names = ['Liam','Elijah','Bekir','Mahoney']
message = f"yo whats up {names[3].title()}."
print(message) #test yourself 3.2 4/4

yo whats up Mahoney.

In [22]:
cars = ['car']
message = f"Some day I would like to buy my own {cars[0].title()}."
print(message) #test yourself 3.3 1/1

Some day I would like to buy my own Car.

In [25]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [28]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [29]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [30]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[0]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [31]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
del motorcycles[1]
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'suzuki']

In [33]:
 motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
 popped_motorcycle = motorcycles.pop()
 print(motorcycles)
 print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [34]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print(f"The last motorcycle I owned was a {last_owned.title()}.")

The last motorcycle I owned was a Suzuki.

In [35]:
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}.")

The first motorcycle I owned was a Honda.

In [36]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [40]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [42]:
names = ['John Wick','Spider-Man','Thanos','Monkey']
message = f" Hello this is a invation for dinner, I would see you then {names[0].title()}."
print(message) #test yourself 3.4 1/3

 Hello this is a invation for dinner, I would see you then John Wick.

In [43]:
names = ['John Wick','Spider-Man','Thanos','Monkey']
message = f" Hello this is a invation for dinner, I would see you then {names[1].title()}."
print(message) #test yourself 3.5 2/3

 Hello this is a invation for dinner, I would see you then Spider-Man.

In [44]:
names = ['John Wick','Spider-Man','Thanos','Monkey']
message = f" Hello this is a invation for dinner, I would see you then {names[2].title()}."
print(message) #test yourself 3.5 3/3

 Hello this is a invation for dinner, I would see you then Thanos.

In [65]:
names = ['John Wick','Spider-Man','Thanos','Monkey']
message = f" Hello this is a invation for dinner, I would see you then {names[-1].title()}."
print(message) #test yourself 3.6

print(' sadly Spider-Man couldnt make it')
print(' so I invited Bat-Man')
print(' people that are still comming are John Wick Thanos and the Monkey')
print(' I just found a bigger table for dinner so I am inviting more people')
names.insert(5,'Ben' )
names.insert(6,'Roman' )
names.append('Shaggy')
print('List:', names)

 Hello this is a invation for dinner, I would see you then Monkey.
 sadly Spider-Man couldnt make it
 so I invited Bat-Man
 people that are still comming are John Wick Thanos and the Monkey
 I just found a bigger table for dinner so I am inviting more people
List: ['John Wick', 'Spider-Man', 'Thanos', 'Monkey', 'Ben', 'Roman', 'Shaggy']

In [93]:
names = ['John Wick','Spider-Man','Thanos','Monkey']
message = f" Hello this is a invation for dinner, I would see you then {names[-1].title()}."
print(message) #test yourself 3.7

print(' sadly Monkey couldnt make it')
print(' so I invited Bat-Man')
print(' people that are still comming are John Wick Thanos and the Monkey')
print(' I just found a bigger table for dinner so I am inviting more people')
names.insert(5,'Bat-Man' )
names.insert(6,'Roman' )
names.append('Shaggy')
print('List:', names)
print('Sorry to say but the new dinner table wont arrive for dinner So I can only invite 2 people')
popped_names = names.pop()
print(names)
print(popped_names)
popped_names = names.pop()
print(names)
print(popped_names)
popped_names = names.pop()
print(names)
print(popped_names)
popped_names = names.pop()
print(names)
print(popped_names)
popped_names = names.pop()
print(names)
print(popped_names)

print('John Wick and Spider-Man you guys are still invited to the dinner')
del names

 Hello this is a invation for dinner, I would see you then Monkey.
 sadly Monkey couldnt make it
 so I invited Bat-Man
 people that are still comming are John Wick Thanos and the Monkey
 I just found a bigger table for dinner so I am inviting more people
List: ['John Wick', 'Spider-Man', 'Thanos', 'Monkey', 'Bat-Man', 'Roman', 'Shaggy']
Sorry to say but the new dinner table wont arrive for dinner So I can only invite 2 people
['John Wick', 'Spider-Man', 'Thanos', 'Monkey', 'Bat-Man', 'Roman']
Shaggy
['John Wick', 'Spider-Man', 'Thanos', 'Monkey', 'Bat-Man']
Roman
['John Wick', 'Spider-Man', 'Thanos', 'Monkey']
Bat-Man
['John Wick', 'Spider-Man', 'Thanos']
Monkey
['John Wick', 'Spider-Man']
Thanos
John Wick and Spider-Man you guys are still invited to the dinner

In [94]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [95]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [96]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list:")
print(cars)
print("\nHere is the sorted list:")
print(sorted(cars))
print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [97]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [99]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars) #try yourself 3.8

4

In [105]:
places = ['Japan','UK','Argetnina','Iraq','Canada']
places.sort()
print(places) #try yourself 3.8

['Argetnina', 'Canada', 'Iraq', 'Japan', 'UK']

In [107]:
places = ['Japan','UK','Argetnina','Iraq','Canada']
places.sort(reverse=True)
print(places) #try yourself 3.8

['UK', 'Japan', 'Iraq', 'Canada', 'Argetnina']

In [108]:
places = ['Japan','UK','Argetnina','Iraq','Canada']
places.sort(reverse=False)
print(places) #try yourself 3.8

['Argetnina', 'Canada', 'Iraq', 'Japan', 'UK']

In [111]:
names = ['John Wick','Spider-Man','Thanos','Monkey']
message = f" Hello this is a invation for dinner, I would see you then {names[-1].title()}."
print(message) #test yourself 3.9

print(' sadly Monkey couldnt make it')
print(' so I invited Bat-Man')
print(' people that are still comming are John Wick Thanos and the Monkey')
print(' I just found a bigger table for dinner so I am inviting more people')
names.insert(5,'Bat-Man' )
names.insert(6,'Roman' )
names.append('Shaggy')
print('List:', names)
print('Sorry to say but the new dinner table wont arrive for dinner So I can only invite 2 people')
popped_names = names.pop()
print(names)
print(popped_names)
popped_names = names.pop()
print(names)
print(popped_names)
popped_names = names.pop()
print(names)
print(popped_names)
popped_names = names.pop()
print(names)
print(popped_names)
popped_names = names.pop()
print(names)
print(popped_names)

print('John Wick and Spider-Man you guys are still invited to the dinner')
len(names)

 Hello this is a invation for dinner, I would see you then Monkey.
 sadly Monkey couldnt make it
 so I invited Bat-Man
 people that are still comming are John Wick Thanos and the Monkey
 I just found a bigger table for dinner so I am inviting more people
List: ['John Wick', 'Spider-Man', 'Thanos', 'Monkey', 'Bat-Man', 'Roman', 'Shaggy']
Sorry to say but the new dinner table wont arrive for dinner So I can only invite 2 people
['John Wick', 'Spider-Man', 'Thanos', 'Monkey', 'Bat-Man', 'Roman']
Shaggy
['John Wick', 'Spider-Man', 'Thanos', 'Monkey', 'Bat-Man']
Roman
['John Wick', 'Spider-Man', 'Thanos', 'Monkey']
Bat-Man
['John Wick', 'Spider-Man', 'Thanos']
Monkey
['John Wick', 'Spider-Man']
Thanos
John Wick and Spider-Man you guys are still invited to the dinner

2

In [116]:
Liked_places = ['NYC','Hudson River','USA','MT Everest ']
message = f" Hello These are the places in the world that I like."
print(message)
print('List:', Liked_places) #test yourself 3.10

 Hello These are the places in the world that I like.
List: ['NYC', 'Hudson River', 'USA', 'MT Everest ']

In [118]:
Liked_places = ['NYC','Hudson River','USA','MT Everest ']
message = f" Hello These are the places in the world that I like."
Liked_places.sort()
print(message)
print('List:', Liked_places) #test yourself 3.10

 Hello These are the places in the world that I like.
List: ['Hudson River', 'MT Everest ', 'NYC', 'USA']

In [119]:
Liked_places = ['NYC','Hudson River','USA','MT Everest ']
message = f" Hello These are the places in the world that I like."
Liked_places.sort(reverse=True)
print(message)
print('List:', Liked_places) #test yourself 3.10

 Hello These are the places in the world that I like.
List: ['USA', 'NYC', 'MT Everest ', 'Hudson River']

In [120]:
Liked_places = ['NYC','Hudson River','USA','MT Everest ']
message = f" Hello These are the places in the world that I like."
Liked_places.sort(reverse=True)
print(message)
print('List:', Liked_places) #test yourself 3.10
popped_names = Liked_places.pop()
print(Liked_places)
print(popped_names)

 Hello These are the places in the world that I like.
List: ['USA', 'NYC', 'MT Everest ', 'Hudson River']
['USA', 'NYC', 'MT Everest ']
Hudson River

In [124]:
#Print the cubes of all of the integers that are a multiple of 7 between 60 and 85

print(*range(7, 60, 85))
res = [i for i in range(7, 60, 85)]

print(res)

7
[7]

In [125]:
# Define the equation y = 7.4x + 51
def calculate_y(x):
    return 7.4 * x + 51

# List of values for x
x_values = [40, 50, 120, -8, 6]

# Calculate y for each value of x
y_values = [calculate_y(x) for x in x_values]

# Print the results
for x, y in zip(x_values, y_values):
    print(f"For x = {x}, y = {y}")

For x = 40, y = 347.0
For x = 50, y = 421.0
For x = 120, y = 939.0
For x = -8, y = -8.200000000000003
For x = 6, y = 95.4